@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER STYLES */

header {
  border-bottom: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 2px 2px rgba(34,36,38,.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.nav-menu > a {
  margin: 0 5px;
  color: rgba(118, 124, 30, 0.842);
  font-weight: 600;
}

header > img {
  padding-left: 1.15%;
}

header > .nav-menu {
  padding-right: 1.15%;
}

/* LOGIN PAGE STYLES */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.ui.very.relaxed.two.column.grid > .column {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* MYREVIEWS PAGE STYLES */

.filter-controls {
  justify-content: space-around;
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.filter-controls > .input {
  width: 50%
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.ui.card {
  width: 15rem;
  height: 513px;
}

.card-overlay {
  margin: 5px 15px 10px 5px;
}

.ui.card:hover{
  box-shadow: 1px 1px 6px rgba(99, 96, 96, 0.466);
  cursor: default;
}

.header.card{
  text-align: center;
}

.ui.card > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.card>.content>.header{
  font-family: Poppins;
}

.ui.card > img{
  height: 315px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 700;
  font-size: inherit;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.ui.modal>.content>.image+.description {
  flex: 0 1 auto;
  width: inherit;
  padding-left: 2em;
}

.actions > a > .button {
  margin-left: .75em;
}


/* SEARCH/RECOMMENDATION STYLES */

.search-form-container{
  width: 50%;
  text-align: center;
  margin: 10px auto;
}

.reviewed-container{
  border: 5px solid rgba(99, 96, 96, 0.466);
  border-style: inset;
  width: 95%;
  position: relative;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .28571429rem;
  margin: 5px 0 15px 0; 
}

.cards-container.reviewed {
  flex-wrap: wrap;
  width: 100%;
  min-height: fit-content;
}

.cards-container.reviewed > .card-overlay > .ui.card {
  width: 10rem;
  height: 325px;
}
.cards-container.reviewed > .card-overlay {
  height: fit-content;
  width: fit-content;
}

.cards-container.reviewed > .card-overlay > .ui.card > img{
  height: 200px;
}

.cards-container.reviewed > .card-overlay > .ui.card > .extra.content {
  display: none;
}

.recommendation-header{
  margin: 15px auto;
  padding-left: 30px;
}

.results > h1 {
  text-align: center;
}

.field.form-review > textarea:not([rows]) {
  height: 11.5rem;
}

/* MOVIE SHOW PAGE STYLES */
.movie-show-container{
  margin: 10px 10px;
}

.movie-show-header {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px 0; 
}

.movie-header-backdrop {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.movie-header-backdrop > img {
  width: 100%;
}

.movie-header-overlay{
  position: absolute;
  z-index: 1;
  padding: 5px;
  height: 100%;
  width: 100%;
  color: white;
  text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.movie-header-details {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.background-image-overlay{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 60, 60, 0.35);
}

.movie-poster {
  height: 75%;
  width: 22%;
  max-width: 202px;
}

.movie-poster > img {
  width: 100%;
  height: 100%;
}

.movie-cast > h3, .movie-summary > h3, .movie-genres > h3 {
  margin-bottom: auto;
  margin-top: 14px;
}

.movie-header-details > .recommendations-button {
  margin-top: 5px;
}

.movie-show-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-show-details > iframe {
  margin-bottom: 10px;
}

.segment.movie-keywords {
  min-height: 315px;
  align-self: baseline;
  width: 30%;
  margin-top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keywords-inner > .label {
  margin-bottom: 3px;
}

.movie-show-reviews {
  width: 65%;
}

.movie-show-reviews > .ui.form {
  margin-bottom: 10px;
}  

.items > .segment {
  margin: 0;
}

.ui.items:last-child{
  margin-bottom: 10px!important;
}

.segment > .item > .content > .meta {
  margin-bottom: 5px;
}

.segment > .item > .content > .description {
  margin-bottom: 5px;
  font-size: 1.15em;
}

.user-show-header {
  text-align: center;
}

@media only screen and (max-width: 799px) {
  .movie-header-overlay {
    position: relative;
    color: black;
    text-shadow: none;
  }

  .background-image-overlay {
    display: none;
  }

  .segment.movie-keywords {
    width: auto
  }
}