@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MYREVIEWS PAGE STYLES */

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ui.card {
  width: 15rem;
  height: 513px;
}

.card-overlay {
  margin: 5px 5px 10px 5px;
}

.ui.card:hover{
  box-shadow: 1px 1px 6px rgba(99, 96, 96, 0.466);
  cursor: default;
}

.header.card{
  text-align: center;
}

.ui.card > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.card>.content>.header{
  font-family: Poppins;
}

.ui.card > img{
  height: 315px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 700;
  font-size: inherit;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.ui.modal>.content>.image+.description {
  flex: 0 1 auto;
  width: inherit;
  padding-left: 2em;
}

.actions > a > .button {
    margin-left: .75em;
}


