@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MYREVIEWS PAGE STYLES */

.my-reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ui.card {
  width: 15rem;
}

.card-overlay {
  margin: 5px 0 10px 0;
}

.ui.card:hover{
  box-shadow: 1px 1px 6px rgba(99, 96, 96, 0.466);
  cursor: default;
}

.header.card{
  text-align: center;
}

.ui.card>.content>.header{
  font-family: Poppins;
}


/* .movie-show-header{
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  opacity: 75%;
}

.movie-header-overlay{
  opacity: 100%;
} */



